# **Questão 1**

In [ ]:
import pandas as pd

dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados)

**Considere o código da 1ª questão, selecione somente as informações de Nome, Ano, Quilometragem e Valor dos carros Passat e Crossfox.**

In [ ]:
dataset.head()

In [ ]:
sel = dataset['Nome'].isin(['Passat', 'Crossfox'])
q1 = dataset.drop(['Motor', 'Zero_km'], axis = 1)[sel]
q1

# **Questão 2**

In [ ]:
import pandas as pd
#(Note os nomes dos veiculos sao utilizados como indice do DataFrame)
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

**Considere o código da 2ª questão, utilizando as funções iloc e loc, selecione somente as informações de Motor e Valor dos carros Passat e DS5. (Note que os nomes dos veículos são utilizados como índice do DataFrame).**

In [ ]:
dataset.head()

In [ ]:
# com .iloc
q2 = dataset.iloc[[1,3], [0,-1]]
q2

In [ ]:
# com .loc
q2 = dataset.loc[['Passat','DS5'], ['Motor','Valor']]
q2

# **Questão 3**

In [ ]:
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

**Considere o código da 3ª questão, utilizando a função query ou outras formas de seleção, selecione de pelo menos duas formas todas as informações de carros que possuam "Motor Diesel" ou que sejam zero quilômetro.**

In [ ]:
dataset.head()

In [ ]:
# forma 1
sel1 = dataset.query('Motor == "Motor Diesel" or Motor == "Motor Diesel V8" or Quilometragem == 0.0')
sel1

In [ ]:
# forma 2
sel2 = (dataset['Motor'] == 'Motor Diesel') | (dataset['Motor'] == 'Motor Diesel V8') | (dataset['Quilometragem'] == 0.0)
dataset[sel2]

In [ ]:
# forma 3
sel3 = (dataset['Motor'].str.contains('Motor Diesel')) | (dataset['Quilometragem'] == 0.0)
dataset[sel3]

# **Questão 4**

**Considerando a base de dados “db.csv”, crie/exporte uma nova base de dados que contenha apenas carros até o ano de 2017 com quilometragem inferior a 50.000 km.**

In [ ]:
import pandas as pd

dados = pd.read_csv('db.csv', sep=';')
dados.head(3)

In [ ]:
#q4 = (dados['Ano'] <= 2017) & (dados['Quilometragem'] <= 50000)
#dados[q4].reset_index(drop = True).to_csv('q4db.csv', sep = ';')
dados.query('Ano <= 2017 and Quilometragem <= 50000').reset_index(drop = True).to_csv('q4db.csv', sep = ';')

# **Questão 5 (Desafio)**

**Considerando a base de dados “db.csv”, crie/exporte uma nova base de dados que contenha apenas carros que possuem o acessório "Rodas de liga".**

In [ ]:
import pandas as pd

dados = pd.read_csv('db.csv', sep=';')
dados.head(3)

**Pré-processamento**

In [ ]:
dados['Acessórios'][0]

In [ ]:
type(dados['Acessórios'][0])

In [ ]:
ex_str = dados['Acessórios'][0]
ex_str

In [ ]:
#.strip - remove os caracteres, informados como parametro (padrão é espaço em branco), do inicio e final da string
#.replace - localiza e substitui o primeiro argumento, pelo segundo.
#.split - divide a string em várias, por meio do parametro informado.
f = ex_str.strip("[]").replace("'","").split(", ")
f

In [ ]:
f[0]

In [ ]:
dados['Acessórios'] = dados['Acessórios'].str.strip("[]").str.replace("'","").str.split(", ")

In [ ]:
dados.head(3)

**Resolução**

In [ ]:
#Dicas: (1) usar o método apply da série de acessórios colocando uma função que
#verifique se 'Rodas de liga' está em cada registro da série
#ou (2) Usar um laço for para buscar 'Rodas de liga' em cada registro da série
#acessórios adicionando a uma série do pandas -> pd.Series()
q5 = dados['Acessórios'].apply(lambda x: True if 'Rodas de liga' in x else False)
dados[q5].reset_index(drop = True).to_csv('q5db.csv', sep = ';')

# **Questão 6**

In [ ]:
import pandas as pd
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data, 
        columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])
dados

**Considerando o código da 6ª questão, crie um novo DataFrame que apresente uma coluna com as variáveis e outra com os tipos de dados. A coluna de variáveis pode ser o índice do novo DataFrame.**

In [ ]:
q6 = pd.DataFrame(dados.dtypes, columns = ['Tipo de Dados'])
q6.columns.name = 'Indice'
q6

# **Questão 7**

In [ ]:
import pandas as pd
dados = pd.DataFrame([1, 1, 2, 3, 3, 3, 4, 4], columns = ['X'])

**Considerando o código da 7ª questão, remova os registros duplicados.**

In [ ]:
q7 = pd.DataFrame(dados['X'].drop_duplicates().reset_index(drop = True))
q7

# **Questão 8**

In [ ]:
import pandas as pd

dados = {
    'Nome':['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = range(5))

dataset

**Considerando o código da 8ª questão, modifique o índice do DataFrame para iniciar em 1 e seguir a contagem de 1 em 1. Em seguida, faça com que o índice do DataFrame seja o nome do veículo.**

In [ ]:
#Modificar o indice do dataframe para comecar em 1
#q8 = dataset.copy()
#q8.index = dataset.index+1
#q8
dataset.set_index(dataset.index+1, drop=True)

In [ ]:
#Modificar o indice do dataframe para ser o nome do veiculo
dataset.set_index('Nome')

# **Questão 9**

In [ ]:
import pandas as pd

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)
df

**Considerando o código da 9ª questão, faça uma seleção para apresentar apenas letras e números, onde os números são pares.**

In [ ]:
sel = (df['N'] > 0) & (df['N']%2 == 0)
df[sel]

# **Questão 10**

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

**Considerando o código da 10ª questão, faça uma seleção para apresentar apenas aqueles alunos (ambos os sexos) que foram aprovados.**

In [ ]:
sel = alunos['Aprovado'] == True
alunos[sel]

# **Questão 11**

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

**Considerando o código da 11ª questão, faça uma seleção para apresentar apenas as alunas aprovadas.**

In [ ]:
#sel = (alunos['Aprovado'] == True) & (alunos['Sexo'] == 'F')
#alunos[sel]
sel = alunos.query('Sexo == "F" and Aprovado == True')
sel

# **Questão 12**

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

**Considerando o código da 12ª questão, faça uma seleção de alunos (ambos os sexos) com idade entre 10 e 20 anos ou com idade maior ou igual a 40 anos.**

In [ ]:
sel = alunos.query('(Idade >= 10 and Idade <= 20) or Idade >= 40')
sel

# **Questão 13**

In [ ]:
imoveis = pd.DataFrame([['Apartamento', None, 970, 68], 
                        ['Apartamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Apartamento', None, 1010, 170], 
                        ['Apartamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Apartamento', 2000, 878, None], 
                        ['Apartamento', 1550, None, 228], 
                        ['Apartamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Condominio', 'IPTU'])

imoveis

**Considerando o código da 13ª questão, faça o seguinte conjunto de operações de limpeza de dados: (i) Elimine os registros que não apresentam a variável Valor; (ii) Elimine os imóveis do tipo Apartamento que não apresentam valor Condominio; (iii) Substitua os valores faltantes que restam nas variáveis Condominio e IPTU por zero; (iv) Reconstrua o índice do DataFrame resultante.**

In [ ]:
#(i) Elimine os registros que não apresentam a variável Valor;
imoveis.dropna(subset = ['Valor'], inplace = True)
imoveis

In [ ]:
#(ii) Elimine os imóveis do tipo Apartamento que não apresentam valor Condominio;
sel = (imoveis['Tipo'] == 'Apartamento') & (imoveis['Condominio'].isna())
imoveis.drop(imoveis[sel].index, inplace = True)
imoveis

In [ ]:
#(iii) Substitua os valores faltantes que restam nas variáveis Condominio e IPTU por zero;
imoveis.fillna(0, inplace = True)
imoveis

In [ ]:
#(iv) Reconstrua o índice do DataFrame resultante.
imoveis.reset_index(drop = True, inplace = True)
imoveis

# **Questão 14**

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas'])

alunos

**Considerando o código da 14ª questão, faça o seguinte conjunto de operações de criação de novas variáveis: (i) Nova variável que indica a diferença entre cada nota e a média das notas, evidenciando o quanto cada aluno ficou acima ou abaixo da média geral; (ii) Nova variável que indica três faixas etárias (menor que 20 anos, entre 20 e 40 anos, maior que 40 anos).**

In [ ]:
#(i) Nova variável que indica a diferença entre cada nota e a média das notas,
#evidenciando o quanto cada aluno ficou acima ou abaixo da média geral;
alunos['Dist. da Media'] = alunos['Notas'] - alunos['Notas'].mean()
alunos

In [ ]:
#(ii) Nova variável que indica três faixas etárias (menor que 20 anos, entre 20 e 40 anos, maior que 40 anos).
alunos['Faixa Etaria'] = alunos['Idade'].apply(lambda x: 'Sub 20' if x < 20 else '20 a 40' if (x >= 20) & (x <= 40) else 'Mais de 40')
alunos

# **Questão 15**

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas'])

alunos

**Considerando o código da 15ª questão, faça o seguinte conjunto de operações de criação/exclusão de variáveis: (i) Inclua uma nova variável que atribua matrícula aos alunos; (ii) Crie um novo DataFrame que apresente apenas matrícula e notas dos alunos, excluindo as outras variáveis.**

In [ ]:
#(i) Inclua uma nova variável que atribua matrícula aos alunos;
alunos['Matricula'] = ['2022'+str(i) for i in range(len(alunos.index))]
alunos

In [ ]:
#(ii) Crie um novo DataFrame que apresente apenas matrícula e notas dos alunos, excluindo as outras variáveis.
alunos2 = alunos.copy()
alunos2 = alunos2[['Matricula', 'Notas']]
alunos2

# **Questão 16**

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas'])

alunos

**Considerando o código da 16ª questão, obtenha um DataFrame com as notas médias dos alunos, com duas casas decimais, segundo seu sexo.**

In [ ]:
selM = alunos['Sexo'] == 'M'
selF = alunos['Sexo'] == 'F'
dados = {'Sexo': ['M','F'], 'Media': [alunos[selM]['Notas'].mean(), alunos[selF]['Notas'].mean()]}
df = pd.DataFrame(dados)
df['Media'].round(2)
df

# **Questão 17**

In [ ]:
import pandas as pd
precos = pd.DataFrame([['Feira', 'Cebola', 2.5], 
                        ['Mercado', 'Cebola', 1.99], 
                        ['Supermercado', 'Cebola', 1.69], 
                        ['Feira', 'Tomate', 4], 
                        ['Mercado', 'Tomate', 3.29], 
                        ['Supermercado', 'Tomate', 2.99], 
                        ['Feira', 'Batata', 4.2], 
                        ['Mercado', 'Batata', 3.99], 
                        ['Supermercado', 'Batata', 3.69]], 
                        columns = ['Local', 'Produto', 'Preço'])
precos

**A criação de agrupamentos com o método groupby() facilita bastante na sumarização das informações de um DataFrame. O método describe() aplicado a um agrupamento gera um conjunto de estatísticas descritivas bastante útil no processo de análise de dados. Considerando o código da 17ª questão, obtenha um DataFrame com as variáveis Produto, Média, Desvio Padrão, Mínimo e Máximo. Dica: Agrege e renomeie as colunas
requeridas.**

# **Questão 18**

**Considerando a base de dados “aluguel_amostra.csv” e a variável alvo “Valor m2”, obtenha o seguinte conjunto de estatísticas: Q1, Q3, IIQ, Limite inferior e Limite superior.**

In [ ]:
import pandas as pd

dados = pd.read_csv('aluguel_amostra.csv', sep=';')

dados.head(n=10)