# Relatório de Análise I - Base de dados e infos gerais

## Importando a Base de Dados

In [ ]:
import pandas as pd

In [ ]:
# importando
dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head()

In [ ]:
type(dados) #exibe o tipo da variável passada como parametro

## Informações Gerais sobre a Base de Dados

In [ ]:
dados.info() #exibe informações gerais sobra o dataframe

In [ ]:
dados.dtypes

In [ ]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [ ]:
tipos_de_dados.columns.name = 'Variáveis'

In [ ]:
tipos_de_dados

In [ ]:
#listas suportam atribuições diretas, são expressas por colchetes
lista = [1, 2, 3, 4]
lista[0] = 10
lista

In [ ]:
#Tuplas não suportam atribuição direta de valores, são expressas por parenteses
tupla = (1, 2, 3, 4)
tupla

In [ ]:
tupla[0] = 10

In [ ]:
#atributo; exibe uma tupla que informa a qtde de linhas e colunas do dataframe
dados.shape

In [ ]:
dados.shape[0]

In [ ]:
dados.shape[1]

In [ ]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

In [ ]:
print(f'A base de dados apresenta {dados.shape[0]} registros (imóveis) e {dados.shape[1]} variáveis')

In [ ]:
dados['Tipo'].unique()

In [ ]:
len(dados['Tipo'].unique())

In [ ]:
dados['Tipo'].value_counts()

In [ ]:
dados['Tipo'].value_counts(normalize = True) #em porcentagem

In [ ]:
dados['Tipo'].value_counts().plot.bar()

# Relatório de Análise II - Análise básica e organização

## Tipos de Imóveis

In [ ]:
#import pandas as pd
#dados = pd.read_csv('aluguel.csv', sep = ';')

In [ ]:
dados.head()

In [ ]:
#dados.Tipo = dados['Tipo']
dados.Tipo.head()

In [ ]:
dados['Tipo'].head()

In [ ]:
tipos_de_imovel = dados['Tipo']
type(tipos_de_imovel)

In [ ]:
tipos_de_imovel.head()

In [ ]:
#unique() - devolve um array com os itens unicos da série
tipos_de_imovel.unique()

In [ ]:
#função que apaga os registros duplicados da serie.
#devolve a informação em formato sintatico, diferente de unique
tipos_de_imovel.drop_duplicates()

In [ ]:
tipos_de_imovel

In [ ]:
#na celula passada embora a serie tenha sido exibida com os valores duplicados
#removidos, essa operação não foi de fato implementada na série.
#para isso, é necessário informar o parametro inplace = True
tipos_de_imovel.drop_duplicates(inplace = True)
tipos_de_imovel

## Organizando a Visualização

In [ ]:
tipos_de_imovel = pd.DataFrame(tipos_de_imovel)

In [ ]:
tipos_de_imovel

In [ ]:
tipos_de_imovel.reset_index()

In [ ]:
tipos_de_imovel.reset_index(drop = True)

In [ ]:
tipos_de_imovel

In [ ]:
tipos_de_imovel.reset_index(drop = True, inplace = True)

In [ ]:
tipos_de_imovel

In [ ]:
tipos_de_imovel.columns.name = 'ID'
tipos_de_imovel

# Relatório  de Análise III - Seleção e exportação

## Imóveis Residenciais

In [ ]:
#import pandas as pd
dados = pd.read_csv('aluguel.csv', sep = ';')

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
#dados.query('Tipo=="Quitinete" or Tipo=="Casa" or Tipo=="Apartamento" ...')
#outra forma de fazer
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']
residencial

In [ ]:
dados.head(10)

In [ ]:
selecao = dados['Tipo'].isin(residencial)
selecao.head(10)

In [ ]:
dados_residencial = dados[selecao]
dados_residencial.head()

In [ ]:
#verificacao
dados_residencial['Tipo'].unique()

In [ ]:
dados_residencial.reset_index(drop = True, inplace = True)
dados_residencial

## Exportando a Base de Dados

In [ ]:
dados_residencial.to_csv('aluguel_res.csv', sep=';')

In [ ]:
pd.read_csv('aluguel_res.csv', sep=';')

In [ ]:
dados_residencial.to_csv('aluguel_residencial.csv', sep=';', index = False)
pd.read_csv('aluguel_residencial.csv', sep=';')

# Relatório de Análise IV - Seleções e frequências (exercícios)

## Seleções e Frequências

In [ ]:
#import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

In [ ]:
dados.head()

In [ ]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selecao1 = dados.query('Tipo=="Apartamento"')
selecao1.head()

In [ ]:
# Outra forma de selecionar somente os imóveis classificados com tipo 'Apartamento'
sel = dados['Tipo']=='Apartamento'
selecao1 = dados[sel]
n1 = selecao1.shape[0]
selecao1.head()

In [ ]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
casas = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
sel = dados['Tipo'].isin(casas)
selecao2 = dados[sel]
n2 = selecao2.shape[0]
selecao2.head()

In [ ]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
# 60 <= Area <= 100
selecao3 = dados.query('Area>=60 and Area<=100')
n3 = selecao3.shape[0]
selecao3

In [ ]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao4 = dados.query('Quartos>=4 and Valor<=2000')
n4 = selecao4.shape[0]
selecao4

In [ ]:
#Imprima a frequencia das selecoes anteriores

print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))