# Relatório de Análise I - Base de dados e infos gerais

## Importando a Base de Dados

In [1]:
import pandas as pd

In [2]:
# importando
dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [3]:
type(dados) #exibe o tipo da variável passada como parametro

pandas.core.frame.DataFrame

## Informações Gerais sobre a Base de Dados

In [4]:
dados.info() #exibe informações gerais sobra o dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [5]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [6]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [7]:
tipos_de_dados.columns.name = 'Variáveis'

In [8]:
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [9]:
#listas suportam atribuições diretas, são expressas por colchetes
lista = [1, 2, 3, 4]
lista[0] = 10
lista

[10, 2, 3, 4]

In [10]:
#Tuplas não suportam atribuição direta de valores, são expressas por parenteses
tupla = (1, 2, 3, 4)
tupla

(1, 2, 3, 4)

In [11]:
tupla[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#atributo; exibe uma tupla que informa a qtde de linhas e colunas do dataframe
dados.shape

In [ ]:
dados.shape[0]

In [ ]:
dados.shape[1]

In [ ]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

In [ ]:
print(f'A base de dados apresenta {dados.shape[0]} registros (imóveis) e {dados.shape[1]} variáveis')

In [ ]:
dados['Tipo'].unique()

In [ ]:
len(dados['Tipo'].unique())

In [ ]:
dados['Tipo'].value_counts()

In [ ]:
dados['Tipo'].value_counts(normalize = True) #em porcentagem

In [ ]:
dados['Tipo'].value_counts().plot.bar()

# Relatório de Análise II - Análise básica e organização

## Tipos de Imóveis

In [ ]:
#import pandas as pd
#dados = pd.read_csv('aluguel.csv', sep = ';')

In [ ]:
dados.head()

In [ ]:
#dados.Tipo = dados['Tipo']
dados.Tipo.head()

In [ ]:
dados['Tipo'].head()

In [ ]:
tipos_de_imovel = dados['Tipo']
type(tipos_de_imovel)

In [ ]:
tipos_de_imovel.head()

In [ ]:
#unique() - devolve um array com os itens unicos da série
tipos_de_imovel.unique()

In [ ]:
#função que apaga os registros duplicados da serie.
#devolve a informação em formato sintatico, diferente de unique
tipos_de_imovel.drop_duplicates()

In [ ]:
tipos_de_imovel

In [ ]:
#na celula passada embora a serie tenha sido exibida com os valores duplicados
#removidos, essa operação não foi de fato implementada na série.
#para isso, é necessário informar o parametro inplace = True
tipos_de_imovel.drop_duplicates(inplace = True)
tipos_de_imovel

## Organizando a Visualização

In [ ]:
tipos_de_imovel = pd.DataFrame(tipos_de_imovel)

In [ ]:
tipos_de_imovel

In [ ]:
tipos_de_imovel.reset_index()

In [ ]:
tipos_de_imovel.reset_index(drop = True)

In [ ]:
tipos_de_imovel

In [ ]:
tipos_de_imovel.reset_index(drop = True, inplace = True)

In [ ]:
tipos_de_imovel

In [ ]:
tipos_de_imovel.columns.name = 'ID'
tipos_de_imovel

# Relatório  de Análise III - Seleção e exportação

## Imóveis Residenciais

In [ ]:
#import pandas as pd
dados = pd.read_csv('aluguel.csv', sep = ';')

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
#dados.query('Tipo=="Quitinete" or Tipo=="Casa" or Tipo=="Apartamento" ...')
#outra forma de fazer
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']
residencial

In [ ]:
dados.head(10)

In [ ]:
selecao = dados['Tipo'].isin(residencial)
selecao.head(10)

In [ ]:
dados_residencial = dados[selecao]
dados_residencial.head()

In [ ]:
#verificacao
dados_residencial['Tipo'].unique()

In [ ]:
dados_residencial.reset_index(drop = True, inplace = True)
dados_residencial

## Exportando a Base de Dados

In [ ]:
dados_residencial.to_csv('aluguel_res.csv', sep=';')

In [ ]:
pd.read_csv('aluguel_res.csv', sep=';')

In [ ]:
dados_residencial.to_csv('aluguel_residencial.csv', sep=';', index = False)
pd.read_csv('aluguel_residencial.csv', sep=';')

In [ ]:
#index foi salvo!!!

# Relatório de Análise IV - Seleções e frequências (exercícios)

## Seleções e Frequências

In [ ]:
#import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

In [14]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [ ]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selecao1 = dados.query('Tipo=="Apartamento"')
selecao1.head()

In [20]:
# Outra forma de selecionar somente os imóveis classificados com tipo 'Apartamento'
sel = dados['Tipo']=='Apartamento'
selecao1 = dados[sel]
n1 = selecao1.shape[0]
selecao1.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN

In [22]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
casas = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
sel = dados['Tipo'].isin(casas)
selecao2 = dados[sel]
n2 = selecao2.shape[0]
selecao2.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN

In [25]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
# 60 <= Area <= 100
selecao3 = dados.query('Area>=60 and Area<=100')
n3 = selecao3.shape[0]
selecao3

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
17,Flat,Botafogo,3,1,1,80,3800.0,1040.0,NaN
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
32,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
41,Apartamento,Barra da Tijuca,3,1,2,70,1800.0,1095.0,140.0
47,Apartamento,Recreio dos Bandeirantes,2,2,2,90,3000.0,1340.0,NaN
48,Apartamento,Recreio dos Bandeirantes,3,2,2,100,2600.0,380.0,NaN
49,Apartamento,Barra da Tijuca,3,1,1,72,2350.0,600.0,70.0
51,Apartamento,Recreio dos Bandeirantes,3,1,2,92,2300.0,840.0,200.0
52,Conjunto Comercial/Sala,Centro,0,1,0,70,1900.0,1080.0,251.0
57,Apartamento,Recreio dos Bandeirantes,2,1,2,83,1600.0,1160.0,157.0
61,Conjunto Comercial/Sala,Recreio dos Bandeirantes,0,0,0,84,1500.0,1546.0,NaN
63,Apartamento,Ipanema,3,1,0,87,3200.0,1305.0,217.0
64,Apartamento,Méier,3,1,0,90,1550.0,844.0,80.0
67,Apartamento,Maracanã,2,0,0,86,1800.0,600.0,82.0
68,Apartamento,Recreio dos Bandeirantes,2,1,1,74,1850.0,675.0,200.0
70,Apartamento,Jacarepaguá,3,1,1,74,1900.0,556.0,98.0
75,Apartamento,Jardim Botânico,2,2,0,95,4000.0,1170.0,NaN
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
77,Apartamento,Cachambi,2,0,0,60,1000.0,380.0,280.0
88,Apartamento,Leblon,2,1,1,80,3500.0,990.0,245.0
92,Apartamento,Gávea,2,1,0,70,2800.0,680.0,98.0
93,Apartamento,Barra da Tijuca,2,1,1,88,2700.0,1300.0,2042.0
96,Apartamento,Bonsucesso,2,1,0,77,1500.0,740.0,NaN
...,...,...,...,...,...,...,...,...,...
32858,Apartamento,Recreio dos Bandeirantes,2,1,1,80,1700.0,450.0,138.0
32862,Apartamento,Irajá,2,1,0,62,1000.0,300.0,NaN
32875,Apartamento,Leblon,2,0,0,73,3000.0,500.0,284.0
32876,Apartamento,Barra da Tijuca,2,1,1,72,1700.0,870.0,160.0
32878,Apartamento,Tijuca,3,1,0,75,1900.0,860.0,141.0
32881,Apartamento,Taquara,2,1,1,71,1300.0,470.0,NaN
32890,Apartamento,Freguesia (Jacarepaguá),2,1,1,87,1300.0,869.0,77.0
32894,Conjunto Comercial/Sala,Glória,0,0,0,95,2400.0,840.0,325.0
32900,Apartamento,Copacabana,1,0,0,60,2400.0,530.0,78.0
32902,Apartamento,Leblon,2,1,1,90,10500.0,23511.0,352.0
32906,Apartamento,Olaria,2,0,0,67,1250.0,150.0,NaN
32907,Apartamento,Botafogo,3,2,1,100,4500.0,1600.0,205.0
32910,Conjunto Comercial/Sala,Barra da Tijuca,0,2,0,72,2800.0,2550.0,NaN
32911,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
32916,Apartamento,Copacabana,2,0,0,67,2450.0,679.0,80.0
32919,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0
32922,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0
32925,Apartamento,Campinho,2,0,0,63,800.0,392.0,NaN
32928,Loja/Salão,Leblon,0,0,0,68,25000.0,NaN,1113.0
32929,Loja/Salão,Freguesia (Jacarepaguá),0,0,0,80,5800.0,NaN,215.0
32930,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0
32934,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
32936,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0
32940,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
32941,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
32944,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [26]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao4 = dados.query('Quartos>=4 and Valor<=2000')
n4 = selecao4.shape[0]
selecao4

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
701,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1465,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
2367,Apartamento,Tijuca,4,1,0,160,2000.0,1032.0,1056.0
2874,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
3000,Apartamento,Tijuca,4,1,2,190,2000.0,1247.0,353.0
3075,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
3218,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
3419,Casa de Vila,Méier,4,0,1,85,1600.0,NaN,NaN
3491,Apartamento,Recreio dos Bandeirantes,4,4,1,145,2000.0,1350.0,390.0
4721,Pousada/Chalé,Barra da Tijuca,23,0,23,862,1480.0,295.0,NaN
5241,Apartamento,Barra da Tijuca,4,2,2,114,2000.0,1174.0,130.0
5849,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
5852,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
6294,Casa,Campo Grande,4,4,4,100,2000.0,NaN,2.0
6456,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
6583,Casa,Taquara,4,1,0,120,2000.0,633.0,NaN
7520,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
8152,Apartamento,Recreio dos Bandeirantes,4,2,2,153,2000.0,1414.0,352.0
8231,Apartamento,Tijuca,4,2,1,188,2000.0,2000.0,309.0
9716,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
10132,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
10144,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
11323,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
11367,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
11675,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
14890,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
16078,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
16311,Apartamento,Tijuca,4,2,1,188,2000.0,2000.0,309.0
16638,Casa,Santo Cristo,5,0,0,85,1200.0,NaN,NaN
16909,Apartamento,Copacabana,4,1,0,180,2000.0,1924.0,423.0
...,...,...,...,...,...,...,...,...,...
18453,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
19553,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
19902,Apartamento,Recreio dos Bandeirantes,4,2,2,153,2000.0,1534.0,387.0
20077,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
20309,Apartamento,Recreio dos Bandeirantes,4,4,2,162,2000.0,1400.0,380.0
20633,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
20872,Casa de Vila,Santo Cristo,4,0,0,110,2000.0,70.0,15.0
21973,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
22000,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
22767,Apartamento,Tijuca,4,2,1,188,2000.0,2000.0,380.0
23284,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
23453,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
23608,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
24572,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
25101,Apartamento,Recreio dos Bandeirantes,4,2,2,155,2000.0,800.0,237.0
25385,Box/Garagem,Centro,5,5,0,30,490.0,220.0,NaN
25993,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
26118,Casa,Rio Comprido,6,1,0,380,2000.0,NaN,320.0
26178,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
26549,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
26750,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
27033,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
27348,Casa de Condomínio,Freguesia (Jacarepaguá),4,3,1,63,2000.0,416.0,NaN
28421,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
29517,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
30599,Apartamento,Campo Grande,4,2,1,140,2000.0,600.0,NaN
30670,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
31382,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
31840,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
32064,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN

In [27]:
#Imprima a frequencia das selecoes anteriores

print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 10187
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 62